<div class="bg-gray-100 p-10">
    <h2 class="text-3xl font-thin">Get the FreshCart app</h2>
    <p class="font-thin text-gray-600">We will send you a link, open it on your phone to download the app.</p>


    <form class="flex items-center my-4 mx-auto">
        <label for="voice-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <input type="text" id="voice-search"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                placeholder="Email..." required />
        </div>
        <button type="submit"
            class="inline-flex items-center py-2.5 px-3 ms-2 text-sm font-medium whitespace-nowrap text-white bg-green-700 rounded-lg border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            Share App Link
        </button>
    </form>

    <div class="w-full h-[0.5px] bg-gray-400"></div>

    <div class="my-3 flex justify-between items-center">
        <div class="flex gap-2">
            <img class="w-12" src="/images/amazon-pay.png" alt="">
            <img class="w-12" src="/images/American-Express-Color.png" alt="">
            <img class="w-12" src="/images/mastercard.webp" alt="">
            <img class="w-12" src="/images/paypal.png" alt="">
        </div>

        <div class="flex gap-2">
            <img class="w-28" src="/images/get-apple-store.png" alt="">
            <img class="w-28" src="/images/get-google-play.png" alt="">
        </div>
    </div>


    <div class="w-full h-[0.5px] bg-gray-400"></div>

</div>