<h2 class="text-center text-green-700 text-4xl">Register Now </h2>

<div class="w-9/12 mx-auto">
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="my-4">

        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-green-700">name: </label>
            <input formControlName="name" type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />

            @if(registerForm.get('name')?.errors && registerForm.get('name')?.touched) {
                @if(registerForm.get('name')?.getError('required')) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">Required!</span> you should enter a name.
                    </div>
                }
                @else if (registerForm.get('name')?.getError('maxlength')) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">Too Long!</span> max length of name is 50 chars.
                    </div>
                }
            }

        </div>

        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-green-700">email: </label>
            <input formControlName="email" type="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
            
            @if(registerForm.get('email')?.errors && registerForm.get('email')?.touched) {
                @if(registerForm.get('email')?.getError('required')) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">Required!</span> you should enter an email.
                    </div>
                }
                @else if (registerForm.get('email')?.getError('email')) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">Wrong Email!</span> please, enter a valid email.
                    </div>
                }
            }

        </div>
        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-green-700">password: </label>
            <input formControlName="password" type="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />

            @if(registerForm.get('password')?.errors && registerForm.get('password')?.touched) {
                @if(registerForm.get('password')?.getError('required')) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">Required!</span> you should enter a password.
                    </div>
                }
                @else if (registerForm.get('password')?.getError('pattern')) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">Wrong password!</span> password starts with a capital letter followed by a small letter followed by 6 digits.
                    </div>
                }
            }

        </div>
        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-green-700">rePassword: </label>
            <input formControlName="rePassword" type="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
            
            @if(registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched) {
                @if(registerForm.get('rePassword')?.getError('required')) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">Required!</span> you should enter a password.
                    </div>
                }
                @else if (registerForm.get('rePassword')?.getError('pattern')) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">Wrong password!</span> password starts with a capital letter followed by a small letter followed by 6 digits.
                    </div>
                }
            }

            @if(registerForm.errors?.['notMatched'] && registerForm.get('rePassword')?.touched) {
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">ERROR!</span> Passwords should be matched.
                </div>
            }
            
        </div>
        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-green-700">phone: </label>
            <input formControlName="phone" type="tel"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
            
            @if(registerForm.get('phone')?.errors && registerForm.get('phone')?.touched) {
                @if(registerForm.get('phone')?.getError('required')) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">Required!</span> you should enter a phone.
                    </div>
                }
                @else if (registerForm.get('phone')?.getError('pattern')) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">Wrong phone number!</span> Enter a valid phone number.
                    </div>
                }
            }


        </div>

        <button type="submit" [disabled]="!registerForm.valid" class="p-2 cursor-pointer disabled:bg-green-300 disabled:cursor-not-allowed rounded text-white bg-green-700">Register @if(isLoading()){<i class="fa-solid fa-spinner fa-spin"></i>}</button>
    
        @if(errorMessage().length > 0) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <span class="font-medium">{{errorMessage()}}.</span>
            </div>
        }
    </form>
</div>